#card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 32px 64px;
  border: #cccccc;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: #242424;
}
.card img {
  border: #cccccc;
  border-bottom-style: solid;
  border-width: 2px;
}
.card p {
  font-size: 28px;
}