/* General Styling */
body {
  margin: 0;
  background-color: #323232;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
  text-align: center;
  color: #ffffff;
}
h2 {
  text-align: center;
  color: #ffffff;
}

/* Header and Footer */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  padding: 12px 24px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #111111;
  color: #ffffff;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header a:link {
  color: #ffffff;
}
header a:visited {
  color: #ffffff;
}
header a:hover {
  color: #ffffff;
}
header a:active {
  color: #ffffff;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.title {
  font-size: 32px;
}

/* Links */
a {
  text-decoration: none;
}
a:link {
  color: #ffb2b2;
}
a:visited {
  color: #ff9090;
}
a:hover {
  color: #ff5e5e;
}
a:active {
  color: #ff5e5e;
}