/* General Styling */
body {
  margin: 0;
  background-color: #323232;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
  margin: 50px 30px 0;
  text-align: center;
  color: #ffffff;
}
h2 {
  margin: 50px 30px 0;
  text-align: center;
  color: #ffffff;
}

/* Header and Footer */
#header {
  vertical-align: middle;
  background-color: #111111;
  font-size: 28px;
}
#header a:link {
  color: #ffffff;
}
#header a:visited {
  color: #ffffff;
}
#header a:hover {
  color: #ffffff;
}
#header a:active {
  color: #ffffff;
}
.title {
  padding: 12px 20px;
  font-size: 32px;
}

/* Links */
a {
  text-decoration: none;
}
a:link {
  color: #ffb2b2;
}
a:visited {
  color: #ff9090;
}
a:hover {
  color: #ff5e5e;
}
a:active {
  color: #ff5e5e;
}